includes:
	- phpstan-baseline.neon

parameters:
	ergebnis:
		classesAllowedToBeExtended:
			- InvalidArgumentException
			- Localheinz\FactoryGirl\Definition\AbstractDefinition
			- RuntimeException
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
